[Unit]
Description=Kubernetes dashboard
After=minikube.service

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart=/opt/sre-challenge/scripts/dashboard.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target