[Unit]
Description=sre-challenge-app
After=network.target


[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart=/opt/sre-challenge/venv/bin/python /opt/sre-challenge/application.py
Restart=always

[Install]
WantedBy=multi-user.target