[Unit]
Description=Minikube service

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart=/home/{{ ansible_user }}/scripts/minikube.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target